{% extends 'base.html' %}


{% load static %}
{% block extracsscdn %}
    <link rel="stylesheet" href="{% static 'css/multiauth.css' %}">
{% endblock extracsscdn %}

{% block title %}
    DJ | MULTIAUTH
{% endblock title %}
    
{% block body %}
    
    <section>
        <div class="authenticationpage">
            <div class="form-group card card-body mycardlogin">
                <div class="card-header">
                    <h5 class="text-center">Login Please </h5>

                </div>
                
                <form action="" method="POST">
                    {% csrf_token %}

                    {% for message in messages %}
                        <div class="alert alert-warning"><p>{{message}}</p></div>
                    {% endfor %}
                        
                    <label class="mt-3">Username or Email</label> 
                    <input type="text" class="form-control" name="username" placeholder="Username">

                    <label class="mt-3">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">


                    <button class="btn btn-success mt-3">Login</button><span><a href="{% url 'multiauth_register_student' %}" class="btn btn-info mt-3 ml-2">Register (Student)</a></span><span><a href="{% url 'multiauth_register_teacher' %}" class="btn btn-info mt-3 ml-2">Register (Teacher)</a></span>
                    <br><br><a href="https://web.facebook.com/angrypranta/" class="mt-5">Forgot Password?</a>
                    <br><a href="{% url 'multiauth' %}">Home</a>

                </form>
            </div>
        </div>
    </section>

{% endblock body %}
    