{% extends 'multiauth/base.html' %}

{% load static %}
{% block title %}
    PROJECTS | MULTIAUTH
{% endblock title %}


    




{% block studentactive %}
    active
{% endblock studentactive %}
    

{% block body %}


<div class="container">
    <div class="profilepage">

        <div class="userside">
            <h3>{{user.student.name}}</h3>
            <div class="profilepic">
                {% if user.userprofileimage.image %}
                    <img src="{{ user.userprofileimage.image.url }}" alt="profile"  >
                {% else %}
                    <img src="{% static 'img/logo.png' %}" alt="profile" >
                {% endif %}
            </div>
            <div class="profileuserlinks">
                <a href="#" class="profileuserlinks_active">Profile</a>
            <a href="#updateprofile">Update Profile</a>
            <a href="#allstudents">All Students</a>
            </div>
        </div>

        <div class="profileside">
            <h5>Basic Profile</h5>
            <div class="profiledetails">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td>Member Type</td>
                        <td>Student</td>
                    </tr>
                    <tr>
                        <td>Full Name</td>
                        <td>{{user.student.name}}</td>
                    </tr>

                    <tr>
                        <td>Student ID</td>
                        <td>{{user.student.student_id}}</td>
                    </tr>

                    <tr>
                        <td>Username</td>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{user.student.phone}}</td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td>{{user.email}}</td>
                    </tr>

                    <tr>
                        <td>Department</td>
                        <td>{{user.student.dept}}</td>
                    </tr>

                    <tr>
                        <td>University</td>
                        <td>{{user.student.university}}</td>
                    </tr>

                    <tr>
                        <td>Last Login </td>
                        <td>{{user.last_login}}</td>
                    </tr>
                    <tr>
                        <td>Joined</td>
                        <td>{{user.date_joined}}</td>
                    </tr>

                    <tr>
                        <td>Action</td>
                        <td>
                            <form action="{% url 'delete_my_account' %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <button class="profiledangerbtn">Delete My Account</button>
                            </form>
                        </td>
                    </tr>

                </table>
            </div>
        </div>


    </div>
</div>



<br>


{% for message in messages %}
<div class="container text-center">
    <h5 class="alert alert-warning">{{message}}</h5>
</div>
{% endfor %}


<div class="container" id="updateprofile">
    <div class="card mb-3">
        <div class="card-header mycardheader">
            <h5>Update Profile Picture</h5>
        </div>
        <div class="card-body">
                <form action="{% url 'update_student_profile_picture' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <img id="blah" src="#" alt="--Select Image--"  class="imageview" /><br><br>
                        <input type='file' name="image" class="form-control-file" onchange="readURL(this);" />
                        <button class="btn btn-info mt-3 mb-2">Update</button>
                    </div>
                </form>
        </div>
    </div>

</div>





<div class="container">

    


    <div class="id_my_details">
        <div class="card">
            <div class="card-header mycardheader">
                <h5 class="text-center">{{ user.username }} Details (Update)</h5>
            </div>
            <div class="card-body">
                <form action="{% url 'update_student_details' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control mb-3" required  value="{{ user.student.name }}" name="name" placeholder="Your full name" >
                         
                        <label>Phone</label>
                        <input type="text" class="form-control mb-3" required  value="{{ user.student.phone }}" name="phone" placeholder="Your full name" >
                         

                        <label>Dept</label>
                        <input type="text" class="form-control mb-3" required  value="{{ user.student.dept }}" name="dept" placeholder="Your full name" >
                         

                        <label>University</label>
                        <input type="text" class="form-control mb-3" required  value="{{ user.student.university }}" name="university" placeholder="Your full name" >
                         
                        <button class="btn btn-info">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div class="card mt-4">
    <div class="card-header mycardheader">
        <h5 class="text-center">All Students</h5>
    </div>
</div>



    <div class="others_id mt-3" id="allstudents">
        <div class="row">

            
            {% for students in allstudents %}
            <div class="col-md-6">
                <div class="card mt-2">
                    <div class="card-header mycardheader1">
                        <h5 class="text-center">{{ students.student.name }}</h5>
                    </div>


                    <div class="card-body ">



                        <div class="myprofilecard">
                            <div class="cardprofilepic">
                                {% if students.userprofileimage.image %}
                                    <img src="{{students.userprofileimage.image.url}}" >
                                {% else %}
                                    <img src="{% static 'img/logo.png' %}" alt="profile" >
                                {% endif %}
                            </div>

                            <div class="card_details">
                                <p>ID: {{students.student.student_id}}</p>
                                <p>Phone: {{students.student.phone}}</p>
                                <p>Email: {{students.email}}</p>
                                <p>Dept: {{students.student.dept}}</p>
                                <p>University: {{students.student.university}}</p>
                            </div>
                        </div>
                        <br>
                        

                            
                    </div>
                </div>
            </div>
            {% endfor %} 


        </div>
    </div>
</div>

    




    <br><br>

        <!-- --------------------------------------------- -->
            <!-- PAGINATION -->
        <!-- --------------------------------------------- -->
        <!-- {% if project.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if project.paginator.num_pages != 1 %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                {% endif %}
                {% if project.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ project.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                {% endif %}
                {% for i in project.paginator.page_range %}
                    {% if project.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% elif project.number > i|add:"-5" and project.number < i|add:"+5"%}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if project.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ project.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                {% endif %}
                {% if project.paginator.num_pages != project.number %}
                    <li class="page-item"><a class="page-link" href="?page={{ project.paginator.num_pages }}">Last</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %} -->
                <!-- --------------------------------------------- -->
            <!-- PAGINATION -->
        <!-- --------------------------------------------- -->
            




{% endblock body %}

    


{% block scripts %}

    <script>
    // Form Resubmission Stop Query 
        $(document).ready(function(){
        window.history.replaceState('','',window.location.href)
        });
 </script>
 <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
                    
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
 </script>
{% endblock scripts %}
    