{% extends 'base.html' %}

{% load static %}
{% block extracsscdn %}
    <link rel="stylesheet" href="{% static 'css/multiauth.css' %}">
{% endblock extracsscdn %}
    
{% block title %}
    DJ | MULTIAUTH
{% endblock title %}
    
{% block body %}
    
<section>
    <div class="authenticationpage">
        <div class="form-group card card-body mycardlogin">
            <h5 class="card-header text-center">রেজিস্টার করুন </h5>
            <form action="" method="POST">
                {% csrf_token %}
                {% if myform.errors.username %}
                <div class="alert alert-danger">
                    <h5>{{myform.errors.username}}</h5>
                </div>
                {% endif %}
                {% if myform.errors.email %}
                <div class="alert alert-danger">
                    <h5>{{myform.errors.email}}</h5>
                </div>
                {% endif %}
                {% if myform.errors.password1 %}
                <div class="alert alert-danger">
                    <h5>{{myform.errors.password1}}</h5>
                </div>
                {% endif %}
                {% if myform.errors.password2 %}
                <div class="alert alert-danger">
                    <h5>{{myform.errors.password2}}</h5>
                </div>
                {% endif %}

            <div class="form-group row mt-2 mb-3">
                <label class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder="Enter first name" name="first_name" required>
                </div>
              </div>
              <div class="form-group row mt-2 mb-3">
                <label class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder="Enter last name" name="last_name" required>
                </div>
              </div>

              <div class="form-group row mt-2 mb-3">
                <label class="col-sm-3 col-form-label">Your Designation</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  placeholder="Enter your designation" name="designation" required>
                </div>
              </div>

              <div class="form-group row mt-2 mb-3">
                <label class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder="Enter unique username" name="username" required>
                </div>
              </div>

              <div class="form-group row mt-2 mb-3">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control"  placeholder="xyz@email.com" name="email" required>
                </div>
              </div>

              <div class="form-group row mt-2 mb-3">
                <label class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control"  placeholder="Password" name="password1" required>
                </div>
              </div>

              <div class="form-group row mt-2 mb-3">
                <label class="col-sm-2 col-form-label">Confirm</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control"  placeholder="Confirm Password" name="password2" required>
                </div>
              </div>

            <div class="text-center">
                <button class="btn btn-primary">Register</button>
            </div>

            </form>

            <br>
            <div class="text-center">
              <a href="{% url 'multiauth' %}" class="btn btn-success  text-white">Home</a><span>
                <a href="{% url 'multiauth_login' %}" class="btn btn-success  text-white">Login</a>
              </span>
              <span>
                <a href="{% url 'multiauth_register_student' %}" class="btn btn-success  text-white">Register (Student)</a>
              </span>
            </div>





        </div>
    </div>
</section>


{% endblock body %}






{% block script %}

{% endblock script %}